@font-face{
  font-family:'source-serif' ;  /* 字体名自定义即可 */
  src:url('/fonts/Source-Serif.otf'); /* 字体文件路径 */
  font-display : swap;
}

#aside-content>.card-widget {
  border-radius: 0px;
  background: unset;
  border-bottom: #ccd0da solid 4px  ;
  box-shadow: none;
}


#aside-content > div.sticky_layout > div.card-widget {
  border-radius: 0px;
  background: unset;
  border-bottom: #bcc0cc solid 4px  ;
  box-shadow: none;
}

#recent-posts>.recent-post-items .recent-post-item{
  border-radius: 0px;
  background-color: #eff1f5;
  outline-style: dashed;
  outline-color: #bcc0cc;
  box-shadow: none;
}


#post {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}

#page {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}

#archive {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}

body {
  background-color: #dce0e8;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 10px 10px;
  background-position: -1px -1px;
}