@font-face{
  font-family:'source-serif' ;  /* 字体名自定义即可 */
  src:url('/fonts/Source-Serif.otf'); /* 字体文件路径 */
  font-display : swap;
}

/*侧边栏样式*/

#aside-content>.card-widget {
  border-radius: 0px;
  background: rgb(239, 241, 245, 0.4);
  box-shadow: none;  
  border-top: #bcc0cc solid 6px
}


#aside-content > div.sticky_layout > div.card-widget {
  border-radius: 0px;
  background: rgb(239, 241, 245, 0.4);
  box-shadow: none;
  border-top: #bcc0cc solid 6px
}

/* 文章列表样式 */

#recent-posts>.recent-post-items .recent-post-item{
  border-radius: 0px;
  background-color: #eff1f5;
  box-shadow: none;
  border-right: #bcc0cc solid 4px
}

/* 页面样式 */

#post {
  border-top: #bcc0cc solid 8px;
  border-radius: 0px;
  background-color: #eff1f5;
  box-shadow: none;
}

#page {
  border-radius: 0px;
  background-color: #eff1f5;
  box-shadow: none;
}

#archive {
  border-radius: 0px;
  background-color: #eff1f5;
  box-shadow: none;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}

/* 背景格纹 */

body {
  background-color: #e6e9ef;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 10px 10px;
  background-position: -1px -1px;
}

/* 导航栏居中 */

#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

/* 去掉导航栏横线 */

#nav *::after{
    background-color: transparent!important;
}

#nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -50px;
}