@font-face{
  font-family:'source-serif' ;  /* 字体名自定义即可 */
  src:url('/fonts/Source-Serif.otf'); /* 字体文件路径 */
  font-display : swap;
}

#aside-content>.card-widget {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;
}

#recent-posts>.recent-post-items .recent-post-item{
  border-radius: 0px;
  background-color: #eff1f5;
    outline-style: dashed;
  outline-color: #ccd0da;

}

#aside-content > div.sticky_layout > div.card-widget {
  border-radius: 0px;
  background-color: #e6e9ef;
    outline-style: dashed;
  outline-color: #ccd0da;

}

#post {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}

#page {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}

#archive {
  border-radius: 0px;
  background-color: #e6e9ef;
  outline-style: dashed;
  outline-color: #ccd0da;

}